<p style="color: green"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @article.author.name %>
</p>
<%= render @article %>

<%= render "blorgh/comments/form" %>

<h3>Comments</h3>
<%= render @article.comments %>
</br>

<div>
  <% if current_user.id == @article.author_id %>
    <%= link_to "Edit this article", edit_article_path(@article) %> |
  <% end %>
  <%= link_to "Back to articles", articles_path %>

  <% if current_user.id == @article.author_id %>
    <%= button_to "Destroy this article", @article, method: :delete %>
  <% end %>
</div>
